[submodule "submodules/klipper"]
	path = submodules/klipper
	url = https://github.com/Dmytry/klipper
[submodule "submodules/BIGTREETECH-OCTOPUS-V1.0"]
	path = submodules/BIGTREETECH-OCTOPUS-V1.0
	url = https://github.com/bigtreetech/BIGTREETECH-OCTOPUS-V1.0.git
[submodule "mechanics/BOSL2"]
	path = mechanics/BOSL2
	url = https://github.com/revarbat/BOSL2.git
[submodule "submodules/Alg123d"]
	path = submodules/Alg123d
	url = https://github.com/bernhard-42/Alg123d.git
[submodule "submodules/--help"]
	path = submodules/--help
	url = https://github.com/gumyr/build123d.git
[submodule "submodules/build123d"]
	path = submodules/build123d
	url = https://github.com/gumyr/build123d.git
	branch = algebra
